<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="assets/img/favicon.ico">
<title>Mediumish - A Medium style template by WowThemes.net</title>

<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">



<!-- Custom styles for this template -->
<link href="../public/css/mediumish.css" rel="stylesheet">
<link href="../public/css/bootstrap.min.css" rel="stylesheet">



</head>
<body>

	<!-- Begin Nav
	================================================== -->
	<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<!-- Begin Menu -->
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="homepage.html">HOME</a></li>
					<li class="nav-item"><a class="nav-link" href="login.html">LOGIN</a></li>
					<li class="nav-item"><a class="nav-link" href="register.html">REGISTER</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End Nav ================================================== -->

	<!-- Begin Site Title
	================================================== -->
	<div class="container">
		<div class="mainheading">
			<h1 class="sitetitle">BlogMaster</h1>
			<p class="lead">Your Ultimate Blogging Hub – Sleek, Modern, and Made for Storytellers</p>

		</div>
	<!-- End Site Title
	================================================== -->

	<!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>Featured</span></h2>
	</div>
	<div class="card-columns listfeaturedtag">

		<!-- begin post -->
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="post.html">
						<div class="thumbnail" style="background-image:url(../public/img/image1.jpg);">
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a href="post.html">We're living some strange times</a></h2>
						<h4 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi soluta architecto molestiae officia facilis quod reiciendis quam quia. Quidem veritatis quibusdam blanditiis quas architecto quos id eaque esse necessitatibus incidunt?Lorem ipsum dolor sit amet.</h4>
					</div>
				</div>
			</div>
		</div>
		<!-- end post -->

		

	</div>
	</section>


</body>
</html>
